doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= title

  body
    header
      h1 Etagères et Armoires 

      nav
        ul
          li
            a(href="/") Accueil
          li
            a(href="/api/ideas") Toutes les Idées de Meubles
          li
            a(href="/api/materials") Tous les materiaux utilisé ainsi que leurs fournisseur
          li
            a(href="/login") Se connecter
          li
            a(href="/register") S'inscrire

    main
      block content

    footer
      p Copyright © 2023 Mon Application
